<div class="row" id="navigation-bar">

</div>
<div class="row row-full">
  <div class="columns large-3">
    FPS: <span id="fps"></span><br>
    Total: <span id="total-time"></span>

  </div>
  <div class="columns large-14 text-center">
    <h6>The Fisherman</h6>
    <div id="canvas-container">
      <canvas id="background-canvas">Your browser does not support HTML5 Canvas.</canvas>
      <canvas id="main-canvas">Your browser does not support HTML5 Canvas.</canvas>
      <canvas id="foreground-canvas">Your browser does not support HTML5 Canvas.</canvas>
      <canvas id="hidden-canvas">Your browser does not support HTML5 Canvas.</canvas>
    </div>
  </div>
  <div class="columns large-7">
    <span>


    </span>
  </div>
</div>